/**
 * Article component
 *
 * Mobile first. We are going from mobile resolution up using RWD.
 */
.article {
    @extend .contentbox;

    @include rwd(960px) {
        border-left: 1px solid $brand-beta;
    }
}

.article__header {
    @extend %cf;
    position: relative;

    @include rwd($tablet-w) {
        margin-top: -1em;
    }

    @include rwd(997px) {
        min-height: 11.286em;
        overflow: hidden;
    }
}

.article__intro {
    position: relative;
    float: none;
    width: 100%;
    min-height: 9em;

    @include rwd(680px) {
        float: left;
        width: $half;
        min-height: 8em;
    }
}

.article__intro--full {
    @extend .article__intro;

    min-height: 6em;

    @include rwd(680px) {
        float: none;
        width: 100%;
        min-height: 9em;
    }
}

%article__introtext {
    position: absolute;
    font-weight: bold;
    font-style: italic;
}

.article__date {
    @extend %article__introtext;
    @include font-size(142px);

    top: -.16em;
    left: .06em;
}

.article__month {
    @extend %article__introtext;
    @include font-size(69px);

    top: -.04em;
    left: 2.55em;
}

.article__place {
    @extend %article__introtext;
    @include font-size(24px);

    top: 3.1em;
    left: 8em;
}

.article__name {
    @extend %article__introtext;
    @include font-size(100px);

    top: -.23em;
    left: .2em;

    @include rwd(680px) {
        left: .06em;
    }
}

.article__surname {
    @extend %article__introtext;
    @include font-size(49px);

    top: 1.2em;
    left: 1em;

    @include rwd(680px) {
        left: 5.16em;
    }
}

.article__title {
    @extend %article__introtext;
    @include font-size(24px);

    top: 0;
    right: 1em;
    text-align: right;

    @include rwd(680px) {
        top: 1em;
        left: 10.2em;
    }
}

.article__introtext {
    @include font-size(24px);

    padding: 1em .7em;

    margin: 0;
    font-weight: bold;
    font-style: italic;
}

/**
 * Text splitted into two columns
 */
.article__text {
    @extend .box;
    @include font-size(17px, false);

    width: 100%;

    @include rwd(965px) {
        margin: 0 0 0 -1em;
    }
}

.article--noborder {
    @extend .article;

    border: none;
}

/**
 * Press
 */
.article--press {
    @extend .article;

    @include rwd(960px) {
        border-left: none;
    }
}

.article__header--press {
    @extend .article__header;

    margin-bottom: 2em;
}

.article__intro--press {
    @extend .article__intro;

    width: 100%;
}

.article__date--press {
    @extend .article__date;
    @include font-size(80px, false);

    top: -.16em;
    left: .06em;
}

.article__title--press {
    @extend %article__introtext;
    @include font-size(24px);

    width: 70%;
    position: static;
    margin: 3em 0 0 3em;
}
