/**
 * Article component
 *
 * Mobile first. We are going from mobile resolution up using RWD.
 */
.article {
    @extend .contentbox;

    h2 {
        @extend %inline-block;

        font-style: italic;
        line-height: 1em;
        color: $brand-text;
        background-color: $brand-beta;
        padding: .2em .5em;
    }
}

.article__header {
    position: relative;
    margin-top: $base-padding * 3;

    @include rwd($tablet-w) {
        margin-top: 0;
    }

    @include rwd(997px) {
        max-height: em(312);
        overflow: hidden;
        margin-top: 0;
    }
}

.article__item,
.article__intro {
    @extend .g__item;

    width: 100%;
    padding-left: 0;

    @include rwd(550px) {
        width: 50%;
    }
}

.article__intro {
    margin-top: $base-padding * 6;

    @include rwd(550px) {
        width: 50%;
    }

    @include rwd(997px) {
        padding: $base-padding 0 0 $base-padding;
    }
}

.article__title--alpha {
    @extend .title--alpha;

    top: 1em;
    left: $base-padding * .7;

    // Larger than mobile
    @include rwd(997px) {
        left: $base-padding * 1.4;
    }
}

.article__title--beta {
    @extend .title--beta;

    top: 1em + 1.2em;
    left: $base-padding * 1.4;

    // Larger than mobile
    @include rwd(997px) {
        left: $base-padding * 2.4;
    }
}

.article__img {
    @extend .box__m--static;

    @include rwd($tablet-w) {
        max-height: 307px;
    }
}

.article__introtext {
    @extend .box;
    @include font-size(18px);

    margin: 0;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;

    @include rwd(997px) {
        margin-bottom: -1em;
    }
}

/**
 * Text splitted into two columns
 */
.article__text {
    @include font-size(17px, false);

    margin-left: -1em;
    padding: em(18);

    // Larger than mobile
    @include rwd(470px) {
        column-count: 2;
        column-gap: $base-padding * 4;
    }

    @include rwd(997px) {
        padding: $base-padding $base-padding * 2;
    }
}

/**
 * Full width text
 */
.article__text--full {
    @extend .article__text;

    // Larger than mobile
    @include rwd(470px) {
        column-count: 1;
        column-gap: 0;
    }
}

.article__btn {
    margin: 0 0 1em 1em;
    text-align: center;

    @include rwd(550px) {
        margin: 0 0 0 1em;
        text-align: left;
    }
}

.article__btn--top {
    @extend .article__btn;

    position: absolute;
    top: 3em;
    right: 1em;

    @include rwd(550px) {
        display: none;
    }
}

.article__content {
    overflow: hidden;
}

/**
 * Small article
 *
 * For a pages like kontakt where is submenu
 */
.article--small {
    @extend .contentbox--small;

    @include rwd($tablet-w) {
        max-width: 60%;
        margin-left: $sidebar-w;
    }

    .article__header {
        @include rwd($tablet-w) {
            margin-top: 0;
            max-height: auto;
            overflow: hidden;
        }
    }

    .article__item,
    .article__intro {
        @include rwd($tablet-w) {
            width: 100%;
            padding-left: 0;
        }

        @include rwd(997px) {
            width: 50%;
            padding-left: 0;
        }
    }

    .article__intro {
        margin-top: $base-padding * 6;
    }

    .article__title--alpha {
        @extend .title--alpha;

        top: 1em;
        left: $base-padding * .7;
    }

    .article__title--beta {
        @extend .title--beta;

        top: 1em + 1.2em;
        left: $base-padding * 1.4;
    }

    .article__img {
        @include rwd($tablet-w) {
            max-width: em(741);
            max-height: em(307);
        }
    }

    .article__text {
        @include rwd($tablet-w) {
            column-count: 1;
            padding: $base-padding $base-padding * 2;
        }

        // Larger than mobile
        @include rwd(997px) {
            column-count: 2;
            column-gap: $base-padding * 4;
        }
    }
}
