/**
 * Article component
 *
 * Mobile first. We are going from mobile resolution up using RWD.
 */
.article {
    @extend .contentbox;
}

.article__header {
    @extend %cf;
    position: relative;

    @include rwd($tablet-w) {
        margin-top: 0;
    }

    @include rwd(997px) {
        max-height: em(312);
        overflow: hidden;
        margin-top: 0;
    }
}

.article__intro {
    position: relative;
    float: none;
    width: 100%;
    min-height: 9em;

    @include rwd(680px) {
        float: left;
        width: $half;
        min-height: 8em;
    }
}

/**
 * TODO - abstract text styles
 */
.article__date {
    @include font-size(142px);

    position: absolute;
    top: -.16em;
    left: .06em;
    font-weight: bold;
    font-style: italic;
}

.article__month {
    @include font-size(69px);

    position: absolute;
    top: -.04em;
    left: 2.55em;
    font-weight: bold;
    font-style: italic;
}

.article__place {
    @include font-size(24px);

    position: absolute;
    top: 3.1em;
    left: 8em;
    font-weight: bold;
    font-style: italic;
}

.article__introtext {
    @include font-size(24px);

    padding: 1em .7em;

    margin: 0;
    font-weight: bold;
    font-style: italic;
}

/**
 * Text splitted into two columns
 */
.article__text {
    @extend .box;
    @include font-size(17px, false);

    width: 100%;

    @include rwd(965px) {
        margin: 0 0 0 -1em;
    }
}
