/**
 * Campaign specific styles
 */

$campaign-btn-bg: #ab0000;
$campaign-btn-bg-hover: #bf0009;

$campaign-popup-text: #00497b;

.campaign {
    @extend .cf;
    @extend %effect-trans;

    width: 100%;
    margin: 1em auto;
    background: transparent;
}

.campaign__media {
    width: em(682);
    float: left;
    margin-right: em(13);
}

.campaign__content {
    float: left;
    position: relative;
    margin-top: 2em;
}

.campaign__text {
    margin-bottom: 1em;
}

.campaign__logo {
    position: absolute;
    top: 4.5em;
    left: 0;
}

// Extends from ^components/_buttons
.campaign__btn {
    @extend .btn--contrast;

    font-family: "erstebold", Tahoma, Arial;
    text-transform: uppercase;
    font-style: normal;
    padding: 0 1.4em 0 0;

    &:hover {
        background-color: $campaign-btn-bg-hover;
    }

    &:before {
        content: url(/static/images/assets/campaign/arrow-small.jpg);
        width: 3em;
        height: 40px;
        overflow: hidden;
        margin-right: 1em;
        background-color: $campaign-btn-bg;
        float: left;
    }
}

.camppopup {
    display: none;
    width: em(827);
    height: em(419);
    position: absolute;
    z-index: $zindex-omega;
    background: transparent url('/static/images/assets/campaign/camp-popup-bg.png') top left no-repeat;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

    &.is-active {
        display: block;
    }
}

.camppopup__form {
    @extend .cf;

    width: 80%;
    margin: 4em 0 0 8em;
    text-align: right;
}

.camppopup__row {
    @extend %inline-block;

    width: 100%;
    margin: 0;
}

.camppopup__label {
    @include font-size(18px);

    float: left;
    font-family: 'erstelight', Tahoma, Arial;
    line-height: 1.5em;
    color: $campaign-popup-text;

    .required {
        color: $brand;
    }
}

.camppopup__label--small {
    @extend .camppopup__label;
    @include font-size(16px);

    padding-left: 1em;
}

.camppopup__textinput {
    @include font-size(18px);

    width: 77%;
    float: right;
    padding-left: .5em;
    margin-bottom: .5em;
    font-family: 'erstelight', Tahoma, Arial;
    line-height: 1.3em;
    border: 1px solid $brand;
}

.camppopup__checkbox {
    float: left;
    margin: .4em 0 0 0;
    border: 1px solid $brand;
}

.camppopup__checkbox--styled {
    @extend .camppopup__checkbox;

    position: relative;
    margin: .4em 1em 0 .6em;

    &:before {
        content: url('/static/images/assets/campaign/checkbox.png');
        width: em(28);
        height: em(28);
        position: absolute;
        top: -11px;
        left: -4px;
    }

    &:checked:after {
        content: url('/static/images/assets/campaign/checkbox-check.png');
        width: em(28);
        height: em(28);
        position: absolute;
        top: -6px;
        left: 3px;
        cursor: pointer;
    }
}

.camppopup__heading {
    @include font-size(34px, false);

    font-family: 'erstelight_italic', Tahoma, Arial;
    color: $campaign-popup-text;

    > b {
        font-family: "erstemedium", Tahoma, Arial;
    }
}

.camppopup__boxwrap {
    width: 65%;
    float: right;
}

.camppopup__boxwrap--small {
    @extend .camppopup__boxwrap;

    width: 52%;
}

.camppopup__btn {
    @extend .campaign__btn;
    @include font-size(26px);

    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
}

.camppopup__btn--large {
    @extend .camppopup__btn;
    @include font-size(26px);

    &:before {
        height: 50px;
        line-height: 50px;
    }
}

.camppopup__btn--close {
    @extend %btn;

    width: em(25);
    height: em(25);
    position: absolute;
    top: em(5);
    right: em(5);
    background: transparent url('/static/images/assets/campaign/btn-close.png') top left no-repeat;
}

.camppopup__error {
    @include font-size(16px);

    font-family: "erstebold", Tahoma, Arial;
    color: $brand;
}

.camppopup__link {
    color: $campaign-popup-text;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.camppopup__thanks {
    @extend %inline-block;

    width: em(491);
    height: em(28);
    margin: 13em;
    background: transparent url('/static/images/assets/campaign/thanks.png') top center no-repeat;
}
