/**
 * Carousel
 *
    <ul class="carousel__list">
        <li>
            <a class="carousel__link" href="">
                <img src="" alt="" />
            </a>
        </li>
    </ul>
 */
.carousel {
    position: relative;
    overflow: hidden;

    li {
        @extend %effect-trans;
    }

    .is-changing {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
    }
}

.carousel__wrap {
    @extend .uilist--h;

    width: em(10000);
    position: relative;
}

.carousel__link {
    width: em(763);
    display: inline-block;
    vertical-align: top;
}
