/**
 * Main content layout
 */

.contentbox {
    @extend .g;
    @extend .nullm--left;

    width: 100%;
    float: left;
    margin-bottom: $base-padding * 2;

    @include rwd($tablet-w) {
        width: $fourfifths;
    }
}
