/**
 * Main content layout
 */

.contentbox {
    @extend .g;
    @extend .nullm--left;

    width: $fourfifths;
    float: left;
    margin-bottom: $base-padding * 2;
}

.contentbox--small {
    width: 100%;

    @include rwd(1000px) {
        width: 80%;
    }
}
