/**
 * Program
 */

$list-line-height: 1.2;

.programlist {
    padding: $base-padding 0;
    background-color: white;
}

.programlist__list {
    @extend %cf;
    @extend %center;
    @extend .uilist--h;

    overflow: hidden;

    > li {
        float: none;
        display: inline-block;
        margin-right: $display-fix;

        // Bigger than mobile
        @include rwd($tablet-w) {
            float: left;
            margin: 0;
        }
    }
}

/**
 * The default settings for each
 * program list item - abstraction
 */
.programlist__item {
    @extend .box;

    overflow: hidden;

    width: 30%;
    max-width: 11.6em;
    min-width: 9.3em;

    // Bigger than mobile
    @include rwd($tablet-w) {
        width: 30%;
        max-width: 12.5em;
    }
}

/**
 * Handles whole program list box
 *
 * Top image animation
 * Bottom content box (p)
 */
.programlist__link {
    @extend %btn;
    @extend %effect-trans;
    @extend %inline-block;

    background-color: $brand-beta;

    p {
        font-style: italic;
        line-height: $list-line-height;
        height: $list-line-height * 2.8em;
        text-align: left;
        padding: 0;
        margin: 0;
        color: $brand-text;
        white-space: normal;
    }

    &:hover {
        background-color: $brand-btn-hover;

        img {
            @extend %effect-descale;
        }
    }
}

/**
 * Program list box with just information
 */
.programlist__info {
    @extend %inline-block;

    > h2 {
        margin: 0;
    }
}

.programlist__title {
    @include font-size(16px, false);

    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    text-align: left;
    color: $brand-beta;

    @include rwd(550px) {
        @include font-size(22px, false);
    }
}

.programlist__text {
    @include font-size(12px, false);

    height: 6em;
    margin: 0;
    padding: 3em 0 0 0;
    line-height: 1;
    overflow: hidden;
    text-align: left;
}
