/**
 * SIDEBAR PARTNERS
 */

.sbpartners {
    @extend %uilist;

    display: none;

    @include rwd($tablet-w) {
        display: block;
        float: left;
        width: 100%;
        margin: $base-padding 0;
        background-color: $sidebar-partners-bg;
    }
}

.sbpartners--border {
    @extend .sbpartners;

    border-right: 1px solid $brand-beta;
}

.sbpartners__link {
    display: block;
    padding: .3em;

    > img {
        margin: 0 auto;
    }
}
