/**
 * SIDEBAR PARTNERS
 */

.sbpartners {
    @extend %uilist;

    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: $base-padding 0;
    background-color: $sidebar-partners-bg;
}

.sbpartners__link {
    display: block;
    padding: $base-padding;

    > img {
        margin: 0 auto;
    }
}
