/**
 * SOCIAL NAVIGATION
 *
 * Based in sidebar.
 */
.socialnav {
    @extend .uilist--spread;

    float: left;
    width: $fifth;
    margin: 0;
    background-color: $brand-beta;

    > li {
        width: $half;
        float: left;
        border-left: 1px solid $brand-gamma;
    }

    > li:first-child {
        border-left: none;
    }
}

.socialnav__link {
    @extend %effect-trans;
    @extend %btn;

    width: 100%;
    line-height: 2;

    &:hover {
        background-color: $brand-btn-hover;
    }
}

.socialnav__icon {
    @include font-size(20px, false);

    color: $brand-gamma;
    line-height: 1.6;
}
