/**
 * SOCIAL NAVIGATION
 *
 * Based in sidebar.
 */
.socialnav {
    @extend .uilist--spread;

    position: fixed;
    left: 0;
    bottom: 0;
    bottom: 4em;
    height: 4em;
    border-top: 1px solid #fff;
}
