/**
 * SOCIAL NAVIGATION
 *
 * Based in sidebar.
 */
.socialnav {
    @extend .uilist--spread;
    @include font-size(20px, false);

    float: left;
    width: $fifth;
    margin: 0;
    background-color: $brand-beta;

    > li {
        width: $half;
        border-left: 1px solid $brand-gamma;
    }

    > li:first-child {
        border-left: none;
    }
}

.socialnav__link {
    line-height: 2;
}
