/**
 * Tickets
 */
.tickets {
    @extend %cf;

    width: 100%;
    height: auto;
    padding-bottom: $base-padding;
    background-color: $brand-gamma;
}

.tickets__main {
    @extend .box;

    > h2 {
        @include font-size(32px, false);

        margin: 0;
        font-weight: bold;
        font-style: italic;
        line-height: 1;
        color: $brand-beta;
    }
}

.tickets__list {
    @extend .uilist;

    margin-top: 2em;

    > li {
        line-height: 1;
    }
}

.tickets__text {
    @include font-size(12px, false);

    color: $brand-beta;
}

.tickets__link {
    @include font-size(12px, false);

    font-style: italic;
}
