/**
 * Tickets
 */
.tickets {
    @extend %cf;

    width: 100%;
    height: 15em;
    background-color: $brand;
}

.tickets__main {
    @extend .box;

    > h2 {
        @include font-size(26px, false);

        margin: 0;
        font-weight: normal;
        line-height: 1;
        color: $brand-text;
    }
}

.tickets__list {
    @extend .uilist;

    margin-top: 2em;

    > li {
        line-height: 1;
    }
}

.tickets__text {
    @include font-size(12px, false);

    color: $brand-text;
}

.tickets__buy {
    display: inline-block;
    margin: 4em 0 0 10em;
}
