<div class="campaign">
    <a name="sutaz"></a>
    <div class="campaign__media">
        <iframe width="675" height="380" src="//www.youtube.com/embed/oGNVmhc0zxE?list=UUsaC0DwceodFCDq_mQGl1LA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="campaign__content">
        <img class="campaign__text" src="/static/images/assets/campaign/content-text.png" width="259" height="260" />
        <a class="campaign__logo" href="" title="" target="_blank">
            <img src="/static/images/assets/campaign/sp-logo.png" width="133" height="34" alt="Slovenska sporitelna logo" />
        </a>
        <button class="campaign__btn js-campaignbutton">Chcem hrať</button>
    </div>
</div>

<a class="campaign__linkhrajte" href="#sutaz"></a>

<div class="camppopup js-campaignpopup">
    <button class="camppopup__btn--close js-campaignbutton-close"></button>
    <form class="camppopup__form js-campaign-form" action="" method="POST">
        <h2 class="camppopup__heading">Super. Vyplňte kontaktný formulár a <b>ste v hre.</b></h2>
        <div class="camppopup__boxwrap--small">
            <div class="camppopup__row">
                <label class="camppopup__label--small">Chcem hrať o lístky</label>
                <input class="camppopup__checkbox camppopup__checkbox--styled" type="checkbox" name="tickets" />
                <label class="camppopup__label--small">Chcem hrať o obraz</label>
                <input class="camppopup__checkbox camppopup__checkbox--styled" type="checkbox" name="canvas" />
            </div>
        </div>
        <div class="camppopup__row">
            <label class="camppopup__label">Meno a priezvisko <span class="required">*</span></label>
            <input class="camppopup__textinput" type="text" name="name" />
        </div>
        <div class="camppopup__row">
            <label class="camppopup__label">Email <span class="required">*</span></label>
            <input class="camppopup__textinput" type="text" name="campemail" />
        </div>
        <div class="camppopup__row">
            <label class="camppopup__label">Telefon <span class="required">*</span></label>
            <input class="camppopup__textinput" type="text" name="phone" />
        </div>
        <div class="camppopup__boxwrap">
            <div class="camppopup__row">
                <input class="camppopup__checkbox" type="checkbox" name="terms" />
                <label class="camppopup__label--small">Súhlasím so <a class="camppopup__link" href="/static/pdf/SP_viva_musica.pdf" target="_blank" title="">súťažnými podmienkami <span class="required">*</span></a></label>
            </div>
            <div class="camppopup__row">
                <input class="camppopup__checkbox" type="checkbox" name="marketing" />
                <label class="camppopup__label--small">Súhlasím s použitím osobných údajov na marketingové účely</label>
            </div>
            <p class="camppopup__row camppopup__error is-hidden js-campaign-error">Prosíme, vyplňte všetky potrebné údaje označené *.</p>
        </div>
        <button class="camppopup__btn--large js-campaignbutton-send">Odoslať</button>
    </form>
    <div class="camppopup__thanks js-camppopup-thanks is-hidden"></div>
</div>
