<div class="campaign">
    <div class="campaign__media">
        <img src="/static/images/assets/campaign/yt.jpg" />
    </div>
    <div class="campaign__content">
        <img class="campaign__text" src="/static/images/assets/campaign/content-text.png" width="259" height="260" />
        <a class="campaign__logo" href="" title="" target="_blank">
            <img src="/static/images/assets/campaign/sp-logo.png" width="133" height="34" alt="Slovenska sporitelna logo" />
        </a>
        <button class="campaign__btn">Chcem hrat</button>
    </div>
</div>

<div class="camppopup">
    <button class="camppopup__btn--close"></button>
    <form class="camppopup__form" action="" method="POST">
        <h2 class="camppopup__heading">Super. Vyplňte kontaktný formulár a <b>ste v hre.</b></h2>
        <div class="camppopup__boxwrap--small">
            <div class="camppopup__row">
                <label class="camppopup__label--small">Chcem hrať o lístky</label>
                <input class="camppopup__checkbox--left" type="checkbox" name="terms" />
                <label class="camppopup__label--small">Chcem hrať o obraz</label>
                <input class="camppopup__checkbox--left" type="checkbox" name="terms" />
            </div>
        </div>
        <div class="camppopup__row">
            <label class="camppopup__label">Meno a priezvisko</label>
            <input class="camppopup__textinput" type="text" name="name" />
        </div>
        <div class="camppopup__row">
            <label class="camppopup__label">Email</label>
            <input class="camppopup__textinput" type="text" name="email" />
        </div>
        <div class="camppopup__row">
            <label class="camppopup__label">Telefon</label>
            <input class="camppopup__textinput" type="text" name="phone" />
        </div>
        <div class="camppopup__boxwrap">
            <div class="camppopup__row">
                <input class="camppopup__checkbox" type="checkbox" name="terms" />
                <label class="camppopup__label--small">Súhlasím so <a href="" title="">súťažnými podmienkami</a></label>
            </div>
            <div class="camppopup__row">
                <input class="camppopup__checkbox" type="checkbox" name="terms" />
                <label class="camppopup__label--small">Súhlasím s použitím osobných údajov na marketingové účely</label>
            </div>
        </div>
        <button class="camppopup__btn" type="submit">Odoslat</button>
    </form>
</div>
