<footer class="footer">
    <ul class="socialnav">
        <li><a class="socialnav__link" href="https://www.facebook.com/vivamusicafestival" target="_blank" title="Facebook"><i class="socialnav__icon fonticon--fb"></i>Facebook</a></li>
        <li><a class="socialnav__link" href="https://www.youtube.com/user/VivaMusicaFestival" target="_blank" title="Youtube"><i class="socialnav__icon fonticon--yt"></i>Youtube</a></li>
        {{#if lang}}
        <li><a class="socialnav__link" href="/?lang=sk" title="English"><i class="socialnav__icon">SK</i>EN</a></li>
        {{else}}
        <li><a class="socialnav__link" href="/?lang=en" title="English"><i class="socialnav__icon">EN</i>EN</a></li>
        {{/if}}
    </ul>

    {{> newsletter}}
<footer>
