<footer class="footer">
    <ul class="socialnav">
        <li><a class="socialnav__link" href="https://www.facebook.com/vivamusicafestival" target="_blank" title="Facebook"><i class="socialnav__icon fonticon--fb"></i>Facebook</a></li>
        <li><a class="socialnav__link" href="https://www.youtube.com/user/VivaMusicaFestival" target="_blank" title="Youtube"><i class="socialnav__icon fonticon--yt"></i>Youtube</a></li>
    </ul>

    {{> newsletter}}
<footer>
