<div class="submenu">
    <ul class="submenulist">
        {{#foreach subnav}}
        <li>
            <a class="submenulist__link" href="/kontakt/{{path}}" title="">
                <img src="{{img}}" height="10em" />
                <span class="submenulist__text">{{title1}} {{title2}}</span>
            </a>
        </li>
        {{/foreach}}
    </ul>
</div>
