<form class="newsletter">
    <label class="newsletter__label">Newsletter</label>
    <input class="newsletter__input" type="text" value="" name="email" />
    <button class="newsletter__button"></button>
</form>
