<ul class="news" data-module="carousel">
    {{#foreach news}}
    <li class="pull--left">
        <a {{#if path}}href="/{{path}}"{{/if}} class="news__link">
            <span class="title--alpha">{{title1}}</span>
            <span class="title--beta">{{title2}}</span>
            <img class="box__m" src="{{img}}" alt="" />
        </a>
    </li>
    {{/foreach}}
</ul>
