<div class="programlist">
    <ul class="programlist__list">
        <li class="box">
            <div class="programlist__info">
                <p>program</p>
                <p class="push--left">10. rocnika</p>
            </div>
        </li>
        <li class="box">
            <a href="" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__media" src="static/images/news/news1.jpg" width="100%" alt="" />
                </div>
                <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
            </a>
        </li>
        <li class="box">
            <a href="" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__media" src="static/images/news/news1.jpg" width="100%" alt="" />
                </div>
                <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
            </a>
        </li>
        <li class="box">
            <a href="" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__media" src="static/images/news/news1.jpg" width="100%" alt="" />
                </div>
                <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
            </a>
        </li>
        <li class="box">
            <a href="" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__media" src="static/images/news/news1.jpg" width="100%" alt="" />
                </div>
                <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
            </a>
        </li>
        <li class="box">
            <a href="" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__media" src="static/images/news/news1.jpg" width="100%" alt="" />
                </div>
                <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
            </a>
        </li>
        <li class="box">
            <a href="" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__media" src="static/images/news/news1.jpg" width="100%" alt="" />
                </div>
                <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
            </a>
        </li>
        <li class="box">
            <a href="" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__media" src="static/images/news/news1.jpg" width="100%" alt="" />
                </div>
                <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
            </a>
        </li>
    </ul>
</div>