<div class="programlist">
    <ul class="programlist__list">
        {{#foreach program}}
        <li class="programlist__item">
            <a href="/program/{{path}}" class="programlist__link">
                <img src="/static/images/program/test-small.jpg" width="190" height="190" alt="" />
                <p class="programlist__date">26. <span>jun</span></p>
                <p class="programlist__title">Korben Dallas Symphony</p>
            </a>
        </li>
        {{/foreach}}
        <li class="programlist__item">
            <a href="/program/vstupenky" class="programlist__link">
                <p class="programlist__extlink">Predaj vstupeniek</p>
            </a>
        </li>
    </ul>
</div>
