<div class="programlist">
    <ul class="programlist__list">
        <li class="programlist__item">
            <div class="programlist__info">
                <h2>
                    <p class="programlist__title">program</p>
                    <p class="programlist__title push--left">10. ročníka</p>
                </h2>
                <p class="programlist__text">21. - 28. jún 2014<br />Bratislava</p>
            </div>
        </li>
        <li class="programlist__item">
            <a href="/program/1" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__m" src="static/images/news/news1.jpg" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>21. jún, 20:00<br />Hlavné námestie</p></div>
            </a>
        </li>
        <li class="programlist__item">
            <a href="/program/1" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__m" src="static/images/news/news1.jpg" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>22. jún, 20:00/<br />Hlavné námestie</p></div>
            </a>
        </li>
        <li class="programlist__item">
            <a href="/program/1" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__m" src="static/images/news/news1.jpg" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>24. jún, 20:00<br />Stará tržnica</p></div>
            </a>
        </li>
        <li class="programlist__item">
            <a href="/program/1" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__m" src="static/images/news/news1.jpg" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>25. jún, 20:00<br />Stará tržnica</p></div>
            </a>
        </li>
        <li class="programlist__item">
            <a href="/program/1" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__m" src="static/images/news/news1.jpg" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>26. jún, 20:00<br />Stará tržnica</p></div>
            </a>
        </li>
        <li class="programlist__item">
            <a href="/program/1" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__m" src="static/images/news/news1.jpg" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>27. jún, 21:00<br />Stará tržnica</p></div>
            </a>
        </li>
        <li class="programlist__item">
            <a href="/program/viva-opera" class="programlist__link">
                <div class="thumbnail">
                    <img class="box__m" src="static/images/news/news1.jpg" width="379" height="307" alt="" />
                </div>
                <div class="box__content"><p>28. jún, 20:00<br />Viva opera!</p></div>
            </a>
        </li>
    </ul>
</div>
