<a href="#nogo-menu" class="btn--nav" data-module="tooglemenu"><i class="icon--nav"></i></a>
<div class="main__sidebar">
    <a class="btn--brand" href="" title="Vivamusica! festival"><img src="/static/images/viva-logo.png" width="160" height="112" alt="Vivamusica! festival" /></a>
    <ul class="sbnav">
        <li><a class="sbnav__link is-active" href="" title="Home">home</a></li>
        <li><a class="sbnav__link" href="" title="Home">novinky</a></li>
        <li><a class="sbnav__link" href="" title="Home">program</a></li>
        <li><a class="sbnav__link" href="" title="Home">vstupenky</a></li>
        <li><a class="sbnav__link" href="" title="Home">galeria</a></li>
        <li><a class="sbnav__link" href="" title="Home">hall of fame</a></li>
    </ul>
    <ul class="sbpartners">
        <li><a href="" title=""><img src="" alt=""></a></li>
        <li><a href="" title=""><img src="" alt=""></a></li>
        <li><a href="" title=""><img src="" alt=""></a></li>
        <li><a href="" title=""><img src="" alt=""></a></li>
        <li><a href="" title=""><img src="" alt=""></a></li>
    </ul>
    <ul class="socialnav">
        <li><a class="socialnav__link" href="" title="Facebook"><i class="icon icon--fb"></i></a></li>
        <li><a class="socialnav__link" href="" title="Youtube"><i class="icon icon--yt"></i></a></li>
    </ul>
</div>
