<a href="#nogo-menu" class="btn--nav" data-module="tooglemenu"><i class="icon--nav"></i></a>
<div class="main__sidebar">
    <div class="box">
        <a class="btn--brand" href="" title="Vivamusica! festival"><img src="/static/images/viva-logo.png" width="160" height="109" alt="   Vivamusica! festival" /></a>
        <ul class="sbnav">
            <li><a class="sbnav__link is-active" href="/" title="Home">home</a></li>
            <li><a class="sbnav__link" href="/program" title="Home">program</a></li>
            <li><a class="sbnav__link" href="/vstupenky" title="Home">vstupenky</a></li>
            <li><a class="sbnav__link" href="/galeria" title="Home">galeria</a></li>
            <li><a class="sbnav__link" href="/hall-of-fame" title="Home">hall of fame</a></li>
            <li><a class="sbnav__link" href="/kontakt" title="Kontakt">Kontakt</a></li>
        </ul>
    </div>
    <ul class="sbpartners">
        <li><a class="sbpartners__link" href="http://http://www.slsp.sk/" title=""><img src="/static/images/partners/sp.jpg" alt=""></a></li>
        <li><a class="sbpartners__link" href="http://www.kooperativa.sk/index.cfm" title=""><img src="/static/images/partners/koop.jpg" alt=""></a></li>
        <li><a class="sbpartners__link" href="http://www.datalan.sk/sk/domov" title=""><img src="/static/images/partners/datalan.jpg" alt=""></a></li>
    </ul>
    <ul class="socialnav">
        <li><a class="socialnav__link" href="" title="Facebook"><i class="icon icon--fb"></i></a></li>
        <li><a class="socialnav__link" href="" title="Youtube"><i class="icon icon--yt"></i></a></li>
    </ul>
</div>
