<ul class="sbpartners">
    <li><a class="sbpartners__link" href="http://http://www.slsp.sk/" title=""><img src="/static/images/partners/sp.jpg" alt=""></a></li>
    <li><a class="sbpartners__link" href="http://www.kooperativa.sk/index.cfm" title=""><img src="/static/images/partners/koop.jpg" alt=""></a></li>
    <li><a class="sbpartners__link" href="http://www.datalan.sk/sk/domov" title=""><img src="/static/images/partners/datalan.jpg" alt=""></a></li>
</ul>
