<ul class="sbpartners{{#if sidebar}}--border{{/if}}">
    <li><a class="sbpartners__link" href="http://www.bkis.sk/" title=""><img src="/static/images/partners/kl.jpg" alt=""></a></li>
    <li><a class="sbpartners__link" href="http://www.slsp.sk/" title=""><img src="/static/images/partners/sp.jpg" alt=""></a></li>
    <li><a class="sbpartners__link" href="http://www.orange.sk/" title=""><img src="/static/images/partners/orange.jpg" alt=""></a></li>
    <li><a class="sbpartners__link" href="http://www.kooperativa.sk/index.cfm" title=""><img src="/static/images/partners/koop.jpg" alt=""></a></li>
    <li><a class="sbpartners__link" href="http://www.seas.sk/sk/uvodna-stranka" title=""><img src="/static/images/partners/enel.jpg" alt=""></a></li>
</ul>
