<a href="#nogo-menu" class="btn--nav" data-module="tooglemenu"><i class="icon--nav"></i></a>
<div class="main__sidebar">
    <div class="box">
        <a class="btn--brand" href="" title="Vivamusica! festival"><img src="/static/images/viva-logo.png" width="160" height="109" alt="   Vivamusica! festival" /></a>
        <ul class="sbnav">
            {{#each clientnav}}
                <li>
                    <a class="sbnav__link{{#if selected}} is-active{{/if}}" href="{{path}}" title="{{name}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
    <ul class="sbpartners">
        <li><a class="sbpartners__link" href="http://http://www.slsp.sk/" title=""><img src="/static/images/partners/sp.jpg" alt=""></a></li>
        <li><a class="sbpartners__link" href="http://www.kooperativa.sk/index.cfm" title=""><img src="/static/images/partners/koop.jpg" alt=""></a></li>
        <li><a class="sbpartners__link" href="http://www.datalan.sk/sk/domov" title=""><img src="/static/images/partners/datalan.jpg" alt=""></a></li>
    </ul>
    {{>socialmedia}}
</div>
