<ul class="socialnav">
    <li><a class="socialnav__link" href="" title="Facebook"><i class="icon icon--fb"></i>Facebook</a></li>
    <li><a class="socialnav__link" href="" title="Youtube"><i class="icon icon--yt"></i>Youtube</a></li>
</ul>
