<div class="tickets">
    <section class="tickets__main">
        <h2>vstupenky</h2>
        <ul class="tickets__list">
            <li><span class="tickets__text">MozART Group - volny vstup</span></li>
            <li><span class="tickets__text">Gabriela Montero - lorem ipsum dolor sit 20,- | 25 ,- EUR</span></li>
            <li><span class="tickets__text">Gabriela Montero - lorem ipsum dolor sit 20,- | 25 ,- EUR</span></li>
            <li><span class="tickets__text">Gabriela Montero - lorem ipsum dolor sit 20,- | 25 ,- EUR</span></li>
        </ul>
    </section>
</div>
