<div class="tickets">
    <div class="tickets__main">
        <h2>vstupenky</h2>
        <ul class="tickets__list">
            {{#foreach program}}
            {{#if price}}
                <li>
                    <span class="tickets__text">{{title}} - {{price}}</span>
                    {{#if tickets}}<a class="tickets__link" href="{{tickets}}" target="_blank">kúpiť vstupenky</a>{{/if}}
                </li>
            {{/if}}
            {{/foreach}}
        </ul>
    </div>
</div>
