/**
 * Pages - Main page
 */
.main {
    @extend %main-nav;

    height: 100%;

    &.is-active {
        padding-left: $sidebar-w;
    }
}

.main__sidebar {
    @extend %main-nav;

    width: $sidebar-w;
    height: 100%;
    background-color: $sidebar-bg;
    position: fixed;
    top: 0;
    left: -$sidebar-w;

    &.is-active {
        left: 0;
    }
}

.main__container {
    width: 100%;
    min-height: 100%;
    background-color: #ccc;
    display: inline-block;
}
