/**
 * Pages - Main page
 */

.main {
    @extend .cf;
    @extend %effect-trans;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;

    &:after {
        content: url('/static/images/assets/claim.png');
        width: 126px;
        height: 69px;
        position: absolute;
        top: 2em;
        right: em(122) * -1;
    }

    @include rwd($tablet-w) {
        width: em(strip-units($main-w));
    }
}

.main__sidebar {
    @extend %effect-trans;

    width: $sidebar-w;
    height: 100%;
    position: fixed;
    top: 0;
    left: -$sidebar-w;
    background-color: $sidebar-bg;
    box-shadow: 3px -2px 3px rgba(0,0,0,.3);

    &.is-active {
        left: 0;
    }

    /**
     * 1. So the animation transition between mobile and desktop is not visible
     */
    @include rwd($tablet-w) {
        position: static;
        float: left;
        width: 20%;
        transition: none; /* [1] */
    }
}

.main__container {
    float: left;
    width: 100%;
    height: 100%;
    background-color: $brand-gamma;
}

/**
 * Top
 */
.top {
    @extend %cf;
    @extend %effect-trans;

    width: 100%;
    background-color: transparent;

    // When on larger screen
    @include rwd($tablet-w) {
        background-color: $brand-beta;
    }
}
