/**
 * Pages - Main page
 */

.main {
    @extend .cf;
    @extend %effect-trans;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: $brand-gamma;

    @include rwd($tablet-w) {
        width: em(strip-units($main-w));

        &:after {
            content: url('/static/images/assets/claim.png');
            width: 126px;
            height: 69px;
            position: absolute;
            top: 2em;
            right: em(122) * -1;
            z-index: $zindex-omega;
        }
    }
}

.main__sidebar {
    width: $fifth;
    float: left;
}

.main__menu {
    @extend %effect-trans;

    width: $sidebar-w;
    height: 100%;
    position: fixed;
    top: 0;
    left: -$sidebar-w;
    z-index: $zindex-omega;
    background-color: $sidebar-bg;
    box-shadow: 3px -2px 3px rgba(0,0,0,.3);

    &.is-active {
        left: 0;
    }

    /**
     * 1. So the animation transition between mobile and desktop is not visible
     */
    @include rwd($tablet-w) {
        position: static;
        float: left;
        width: 100%;
        min-height: em(312);
        transition: none; /* [1] */
        box-shadow: none;
    }
}

.main__container {
    @extend %cf;

    width: 100%;
    background-color: $brand-gamma;
    border-bottom: 1px solid $brand-beta;
}
