/**
 * Color pallete
 */

// Main
$brand: #ff0091;
$brand-link: $brand;

// Sidebar
$sidebar-bg: #000;
$sidebar-links: #fff;

$icon-nav: #666;

// Sidebar menu
$sidebar-menu-hover-bg: #fff;
$sidebar-menu-hover-color: #000;

// Pop
$pop-border: #000;