/**
 * Color pallete
 */

// Main brand pallete
$brand: #ff0091;
$brand-beta: #000;
$brand-text: #fff;

$brand-link: $brand;
$brand-btn-hover: #333333;

// Sidebar
$sidebar-bg: #000;
$sidebar-links: #fff;

$icon-nav: #666;

// Sidebar menu
$sidebar-menu-hover-bg: #fff;
$sidebar-menu-hover-color: #000;

// Pop
$pop-border: #000;