/**
 * DIMENSIONS
 *
 * ADAPTIVE DESIGN
 * FONTS
 * PADDINGS/MARGINS
 */

/**
 * ADAPTIVE DESIGN
 * 
 * Dimensions for adaptive design.
 */
$base-w: 1000px;
$tablet-w: 768px;
$mobile-portrait-w: 320px;
$mobile-landscape-w: 480px;

/**
 * FONTS
 */
$base-font-size: 11px;
$base-line-height: 16px;

/**
 * PADDINGS/MARGINS
 */
$base-padding: 1rem;
$base-mb: 1rem;

// Main page
$sidebar-w: 150px;
$sidebar-logo-hp-fix: 4px;