/**
 * EFFECTS
 *
 * TRANSITIONS
 */

/**
 * TRANSITIONS
 */
%effect-trans {
    transition: all 0.25s ease-out;
}

%effect-trans--slow {
    transition: all 1.6s ease-out;
}

%effect-scale {
    transform: scale(1);
    transition: 0.25s ease-out;
}

%effect-descale {
    transform: scale(1.5);
    transition: 10s ease-out;
}
