{{>sidebar}}

<div class="main__container">
    <article class="article">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">Festival</span>
                </h1>
            </div><!--
         --><div class="article__item">
                <div class="thumbnail">
                    <img class="article__img" src="/static/images/news/news1.jpg" width="100%" alt="" />
                </div>
            </div>
        </header>
        <div class="g__item">
            <div class="article__btn--top">
                <a class="btn--buy--contrast" href="http://www.ticketportal.sk/event.aspx?id=19471">Kúpiť vstupenku</a>
            </div>
            <p class="article__text--full">Milí priatelia,<br /><br />v roku 2014 Viva Musica! festival oslávi okrúhle 10. výročie a my sme pre vás opäť pripravili niekoľko exkluzívnych hudobných zážitkov. Viva Musica! festival bude aj v roku 2014 prebiehať počas posledného júnového týždňa na štyroch pódiách v Bratislave. V kalendári si preto už teraz môžete zakrúžkovať dátumy od 21. – 28. júna 2014.<br /><br />Prvým potvrdeným koncertom je veľkolepé operné gala Viva Opera! na Bratislavskom hrade (28.6.), v rámci ktorého sa na jednom pódiu po prvýkrát spolu stretnú svetoznáme slovenské operné hviezdy – Adriana Kučerová, Jana Kurucová, Miroslav Dvorský, Dalibor Jenis a Štefan Kocán. V sprievode Orchestra Viva Musica! pod taktovkou Martina Leginusa, súčasného hudobného riaditeľa a šéfdirigenta pražskej Štátnej opery, uvedú známe i menej známe operné lahôdky z pera takých operných majstrov, akými boli Giuseppe Verdi, Gioacchino Rossini či Giacomo Puccini. Vstupenky na koncert je možné zakúpiť si priamo na našej stránke alebo v sieti Ticketportal.<br /><br />Informácie o ďalších koncertoch vám prinesieme už čoskoro! Nezabudnite preto sledovať festivalové novinky na našom webe a fanpage Viva Musica! na Facebooku. [preklik na FB]<br /><br />Tešíme sa na vás!<br /><br />Matej Drlička<br />& Viva Team</p>
        </div>
    </article>
</div>
