<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="banner">
        <img src="/static/images/festival/festival_photo.jpg" width="100%" />
    </div>

    <article class="article">
        <p class="article__text">
            Viva Musica! festival vznikol v roku 2005 s ambíciou vytvoriť letný festival s naozaj hodnotným umeleckým prínosom. Od svojho prvého ročníka ponúka ľuďom to najlepšie z klasickej hudby, jazzu a world music formou príťažlivou pre všetkých – pod holým nebom, uprostred letného bratislavského Starého mesta a bez nutnosti platiť vstupné na niektoré koncerty. <br /><br />Viva Musica! festival predstavuje jedinečný koncept letného open-air festivalu, ktorého hlavnú myšlienku možno zhrnúť do dvoch slov: <em>klasika inak</em>. Festival prináša niekoľko večerov plných kvalitnej hudby, špičkových umelcov, ale tiež nenútenej zábavy bez kravát a tzv. <em>ušľachtilej</em> nudy, ktorej by sa ľudia pri predstave klasickej hudby možno tak trochu obávali. Prezentujeme klasickú hudbu netradičným spôsobom, na netradičných miestach a v netradičných kontextoch a naša idea sa stretla s veľkým ohlasom: Viva Musica! je dnes najväčším medzinárodným letným festivalom klasickej hudby a jazzu v Bratislave a jeho obľúbenosť z roka na rok rastie.
        </p>
    </article>
</div>
