<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="banner">
        <img src="/static/images/festival/festival_photo.jpg" width="100%" />
    </div>

    <article class="article">
        <p class="article__text">
            The Viva Musica! Festival was founded in 2005 with the aim of creating a summer festival that would make a truly valuable artistic contribution. Since its first year, it’s been offering audiences the best in classical music, jazz and world music in a form attractive for everyone – in the open air in the centre of Bratislava’s Old Town in summer – and what’s more, there’s no need to pay admission to see some of the concerts. The Viva Musica! festival provides a unique concept of an open-air, summer festival, whose main thrust can be reduced to a few words: a new angle on classical music. Viva Musica! is seven evenings full of high-quality music and top artists. But it’s also entertainment without a tie or “cultivated boredom”, which people may fear a little when it comes to classical music. We strive to present classical music in a non-traditional way, in non-traditional places and in a non-traditional context and our idea has had a very significant, positive response. Today, the Viva Musica! Festival is the largest, international, summer festival of classical, jazz and world music in Slovakia and its popularity grows every year.
        </p>
    </article>
</div>
