{{>sidebar}}

<div class="main__container">
    <article class="article">
        <header class="article__header">
            <h1 class="article__title--alpha">Festival</h1>
            <img class="box__m--static" src="/static/images/titles/festival.jpg" width="100%" alt="" />
        </header>
        <div class="g__item">
            <div class="article__btn--top">
                <a class="btn--buy--contrast" href="http://www.ticketportal.sk/event.aspx?id=19471">Kúpiť vstupenku</a>
            </div>
            <p class="article__text--full">Milí priatelia,<br /><br />v roku 2014 Viva Musica! festival oslávi okrúhle 10. výročie a my sme pre vás opäť pripravili niekoľko exkluzívnych hudobných zážitkov. Viva Musica! festival bude aj v roku 2014 prebiehať počas posledného júnového týždňa na štyroch pódiách v Bratislave. V kalendári si preto už teraz môžete zakrúžkovať dátumy od 21. – 28. júna 2014.<br /><br />Prvým potvrdeným koncertom je veľkolepé operné gala Viva Opera! na Bratislavskom hrade (28.6.), v rámci ktorého sa na jednom pódiu po prvýkrát spolu stretnú svetoznáme slovenské operné hviezdy – Adriana Kučerová, Jana Kurucová, Miroslav Dvorský, Dalibor Jenis a Štefan Kocán. V sprievode Orchestra Viva Musica! pod taktovkou Martina Leginusa, súčasného hudobného riaditeľa a šéfdirigenta pražskej Štátnej opery, uvedú známe i menej známe operné lahôdky z pera takých operných majstrov, akými boli Giuseppe Verdi, Gioacchino Rossini či Giacomo Puccini. Vstupenky na koncert je možné zakúpiť si priamo na našej stránke alebo v sieti Ticketportal.<br /><br />Informácie o ďalších koncertoch vám prinesieme už čoskoro! Nezabudnite preto sledovať festivalové novinky na našom webe a fanpage Viva Musica! na Facebooku. [preklik na FB]<br /><br />Tešíme sa na vás!<br /><br />Matej Drlička<br />& Viva Team</p>

            <h2>O festivale</h2>
            <p class="article__text--full">Viva Musica! festival vznikol v roku 2005 s ambíciou vytvoriť letný festival s naozaj hodnotným umeleckým prínosom. Od svojho prvého ročníka ponúka ľuďom to najlepšie

z klasickej hudby, jazzu a world music formou príťažlivou pre všetkých – pod holým nebom,

uprostred letného bratislavského Starého mesta a bez nutnosti platiť vstupné na niektoré

koncerty. Viva Musica! festival predstavuje jedinečný koncept letného open-air festivalu,

ktorého hlavnú myšlienku možno zhrnúť do dvoch slov: klasika inak. Viva Musica! znamená

niekoľko večerov plných kvalitnej hudby, špičkových umelcov, ale tiež nenútenej zábavy

bez kravát a tzv. ušľachtilej nudy, ktorej by sa ľudia pri predstave klasickej hudby možno

tak trochu obávali. Prezentujeme klasickú hudbu netradičným spôsobom, na netradičných

miestach a v netradičnom kontexte a naša idea sa stretla s veľkým ohlasom: Viva Musica!

festival je dnes najväčším medzinárodným letným festivalom klasickej hudby a jazzu

v Bratislave a jeho obľúbenosť z roka na rok rastie.</p>
        </div>
    </article>
</div>
