{{>sidebar}}

<div class="main__container">
    <div class="submenu">
        <ul class="submenulist">
            <li>
                <a class="submenulist__link" href="/galeria/2012" title="">
                    <span class="submenulist__text">2012</span>
                </a>
            </li>
            <li>
                <a class="submenulist__link" href="/galeria/2011" title="">
                    <span class="submenulist__text">2011</span>
                </a>
            </li>
            <li>
                <a class="submenulist__link" href="/galeria/2010" title="">
                    <span class="submenulist__text">2010</span>
                </a>
            </li>
            <li>
                <a class="submenulist__link" href="/galeria/2009" title="">
                    <span class="submenulist__text">2009</span>
                </a>
            </li>
            <li>
                <a class="submenulist__link" href="/galeria/2008" title="">
                    <span class="submenulist__text">2008</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="gallery">
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201201.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201202.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201203.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201204.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201205.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201206.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201207.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201208.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201209.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201210.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201211.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201212.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201213.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201214.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201215.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201216.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201217.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201218.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201219.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201220.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201221.jpg" />
        </a>
        <a class="gallery__item" href="">
            <img src="/static/images/gallery/2012/201222.jpg" />
        </a>
    </div>
</div>
