{{>sidebar}}

<div class="main__container">
    <div class="submenu">
        <ul class="submenulist">
            {{#foreach galleries}}
            <li>
                <a class="submenulist__link" href="/galeria/{{title}}" title="">
                    <span class="submenulist__text">{{title}}</span>
                </a>
            </li>
            {{/foreach}}
        </ul>
    </div>
    <div class="gallery" data-module="gallery">
        {{#foreach imgs}}
        <a class="gallery__item" href="" data-role="galleryitem" data-path="{{img}}">
            <img src="{{imgthumb}}" />
        </a>
        {{/foreach}}
    </div>
</div>
