<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="main">
    <a href="#nogo-menu" class="btn--nav" data-module="tooglemenu"><i class="icon--nav"></i></a>
    <div class="main__sidebar">
        <a class="btn--brand" href="" title="Vivamusica! festival"><img src="static/images/viva-logo.png" width="160" height="112" alt="Vivamusica! festival" /></a>
        <ul class="sbnav">
            <li><a class="sbnav__link is-active" href="" title="Home">home</a></li>
            <li><a class="sbnav__link" href="" title="Home">novinky</a></li>
            <li><a class="sbnav__link" href="" title="Home">program</a></li>
            <li><a class="sbnav__link" href="" title="Home">vstupenky</a></li>
            <li><a class="sbnav__link" href="" title="Home">galeria</a></li>
            <li><a class="sbnav__link" href="" title="Home">hall of fame</a></li>
        </ul>
        <ul class="socialnav">
            <li><a class="socialnav__link" href="" title="Facebook"><i class="icon icon--fb"></i></a></li>
            <li><a class="socialnav__link" href="" title="Youtube"><i class="icon icon--yt"></i></a></li>
        </ul>
    </div>
    <!--</div class="main__container">
        
    </div>
    <div>
        
    </div>-->
    <div class="main__container">
        <div class="top__content g__item pull--left">
            <section class="news">
                <div class="news__item pull--left">
                    <img src="static/images/news/news1.jpg" alt="" />
                </div>
                <div class="news__item">
                    <img src="static/images/news/news1.jpg" alt="" />
                </div>
                <div class="news__item">
                    <img src="static/images/news/news1.jpg" alt="" />
                </div>
                <div class="news__item">
                    <img src="static/images/news/news1.jpg" alt="" />
                </div>
            </section>
        </div>
    </div>
</div>