<div class="main__container">
    <div class="top">
        {{>sidebar}}

        <div class="banner">
            <img src="/static/images/program/test.jpg" width="100%" />
        </div>
    </div>
</div>
