{{>sidebar}}

<div class="main__container">
    <div class="top">
        <ul class="news">
            <li class="news__item pull--left">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
            <li class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
            <li class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
            <li class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
        </ul>
    </div>

    <div class="programlist">
        <ul class="programlist__list">
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
            <li class="box">
                <a href="" class="programlist__link">
                    <div class="thumbnail">
                        <img src="static/images/news/news1.jpg" width="100%" alt="" />
                    </div>
                    <div class="box__content"><p>22. jun /<br />MozART Group</p></div>
                </a>
            </li>
        </div>
    </div>
</div>