<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="banner">
        <img src="/static/images/program/banner/opera.jpg" width="100%" />
    </div>

    {{>programlist}}
</div>
