{{>sidebar}}

<div class="main__container">
    <div class="top">
        <section class="news">
            <div class="news__item pull--left">
                <img src="static/images/news/news1.jpg" alt="" />
            </div>
            <div class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </div>
            <div class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </div>
            <div class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </div>
        </section>
    </div>
</div>