<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="carousel js-carousel">
        {{#foreach program}}
        <a class="carousel__link" href="/program/{{path}}">
            <img src="/static/images/program/banner/{{img}}" width="100%" />
        </a>
        {{/foreach}}
    </div>

    {{>programlist}}
</div>
