{{>sidebar}}

<div class="main__container">
    <div class="top">
        <ul class="news">
            <li class="pull--left">
                <a href="" class="news__link">
                    <span class="news__title--alpha">Viva</span>
                    <span class="news__title--beta">Petr Hapka</span>
                    <img class="box__media" src="static/images/news/news1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="" class="news__link">
                    <span class="news__title--alpha">Viva má</span>
                    <span class="news__title--beta">vonku nový TV spot</span>
                    <img class="box__media" src="static/images/news/news1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="" class="news__link">
                    <span class="news__title--alpha">Red Bull</span>
                    <span class="news__title--beta">Flying Bach</span>
                    <img class="box__media" src="static/images/news/news1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="" class="news__link">
                    <span class="news__title--alpha">Uplne, ze mrte</span>
                    <span class="news__title--beta">zialbohu, ale niekedy aj chvalabohu, ze zialbohu</span>
                    <img class="box__media" src="static/images/news/news1.jpg" alt="" />
                </a>
            </li>
        </ul>
    </div>

    {{>programlist}}
</div>
<div class="contentbar">
        
</div>