{{>sidebar}}

<div class="main__container">
    <div class="top">
        <ul class="news">
            <li class="news__item pull--left">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
            <li class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
            <li class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
            <li class="news__item">
                <img src="static/images/news/news1.jpg" alt="" />
            </li>
        </ul>
    </div>
</div>