<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="carousel js-carousel">
        <ul class="carousel__list">
            {{#foreach program}}
            <li>
                <a class="carousel__link" href="/program/{{path}}">
                    <img src="/static/images/program/banner/{{img}}" width="100%" />
                </a>
            </li>
            {{/foreach}}
        </ul>
    </div>

    {{>programlist}}
</div>
