{{>sidebar}}

<div class="main__container">
    <div class="contentbox">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">Kontakt</span>
                </h1>
            </div><!--
         --><div class="article__item">
                <p class="box">
                    <b>Matej Drlicka</b><br />The Emperor<br />+421 000 000000
                </p>
                <p class="box">
                    <b>Matej Drlicka</b><br />The Emperor<br />+421 000 000000
                </p>
            </div>
        </header>
        <div class="g">
            <div class="g__item mediaisland--solid">
                <img src="/static/images/news/news1.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="g__item mediaisland--solid">
                <img src="/static/images/news/news1.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="g__item mediaisland--solid">
                <img src="/static/images/news/news1.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="g__item mediaisland--solid">
                <img src="/static/images/news/news1.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
        </div>
    </article>
</div>
