{{>sidebar}}

<div class="main__container">
    <div class="contentbox">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">Kontakt</span>
                </h1>
            </div><!--
         --><div class="article__item">
                <p class="box">
                    <b>Matej Drlicka</b><br />The Emperor<br />+421 000 000000
                </p>
                <p class="box">
                    <b>Matej Drlicka</b><br />The Emperor<br />+421 000 000000
                </p>
            </div>
        </header>
        <div class="g">
            <div class="g__item mediaisland--solid">
                <img src="/static/images/team/sefko.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Matej Drlička<span>director</span></h2>
                    <p>Autor myšlienky Viva Musica! festivalu, jeho riaditeľ<br />a zároveň duša tohto projektu. Kedysi bol špičkovým klarinetistom, dnes sa na profesionálnej úrovni venuje hudobnému manažmentu a priznáva, že sa v tomto odbore doslova našiel. Matej každý rok na Vive predstaví odvážnu hudobnú dramaturgiu, ktorá stiera hranice medzi žánrami. Menuet is not dead!</p>
                </div>
            </div>
            <div class="g__item mediaisland--solid">
                <img src="/static/images/team/janka.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Janka Kubandová<span>project manager</span></h2>
                    <p>Janka je, ako sa hovorí, človek na správnom mieste.<br />V jej práci sa odzrkadľuje láska k hudbe, umeniu<br>a spoznávaniu nových kultúr. Dáva do nej celú svoju dušu. Má bohaté skúsenosti v oblasti kultúry a v rámci Vivy má na starosti booking umelcov a projektový manažment.</p>
                </div>
            </div>
            <div class="g__item mediaisland--solid">
                <img src="/static/images/team/barborka.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Barbora Drahovská<span>PR manager</span></h2>
                    <p>Barborka je naša múza. Sama študuje spev, fandí hudobným projektom Oskara Rózsu, hovorí a píše tromi cudzími jazykmi a odjakživa chcela spolupracovať na organizácii a na príprave kvalitného hudobného festivalu. Viete si predstaviť lepšieho človeka na poste PR manažéra Vivy?</p>
                </div>
            </div>
            <div class="g__item mediaisland--solid">
                <img src="/static/images/team/sefko.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Štefan Čermák<span>account manager</span></h2>
                    <p>Pravá ruka riaditeľa festivalu. Vie o všetkom a o všetkých. Manažuje a koordinuje. Vysvetľuje, vybavuje, stráži a pripomína.</p>
                </div>
            </div>
            <div class="g__item mediaisland--solid">
                <img src="/static/images/team/sefko.jpg" width="100%" alt="" />
                <div class="mediaisland__content box">
                    <h2>Jozef Murín<span>Produkčný terminátor</span></h2>
                    <p>Jožko patrí do Viva teamu od roku 2012. Dá sa opísať dvomi slovami: „produkčný terminátor“. Ak je treba, dokáže dať do pozoru aj riaditeľa festivalu! Jožko miluje dobrú hudbu, šport a najmä život ako taký. Sme nesmierne vďační, že ho máme.</p>
                </div>
            </div>
        </div>
    </article>
</div>
