{{>sidebar}}

<div class="main__container">
    {{>kontaktsubmenu}}
    <div class="article--small">
        <header class="article__header">
            <h1 class="article__title--alpha">Kontakt</h1>
            <img class="article__img" src="/static/images/team/all.jpg" width="100%" alt="" />
        </header>
        <div class="article__content">
            <p class="article__text">
                Autor myšlienky Viva Musica! festivalu, jeho riaditeľ a zároveň duša tohto projektu. Kedysi bol špičkovým klarinetistom, dnes sa na profesionálnej úrovni venuje hudobnému manažmentu a priznáva, že sa v tomto odbore doslova našiel. Matej každý rok na Vive predstaví odvážnu hudobnú dramaturgiu, ktorá stiera hranice medzi žánrami. Menuet is not dead!
            </p>
        </div>
    </div>
</div>
