<div class="lcontainer">
    <a class="lcontainer__link" data-action="open" href="#nogo"><img src="static/images/landing.jpg" width="90%" alt="" /></a>
    <div class="lcontainer__popup is-hidden" data-popup="landing">
        <div class="lcontainer__holder">
            <a class="btn--close" data-action="close" href="#nogo"><i class="icon--close"></i></a>
            <div class="lcontainer__content">
                <img src="static/images/popup.jpg" width="100%" alt="" />
                <p class="lcontainer__text">Milí priatelia Viva Musica! festivalu,</p>
                <p class="lcontainer__text">občianske združenie ORFEO, hlavný organizátor Viva Musica! festivalu, je pre rok 2014 oprávneným prijímateľom 2% z daní fyzických a právnických osôb. Ak chcete svojimi 2% podporiť váš obľúbený festival, stačí ak v <a href="static/pdf/DPFOAv13.pdf" title="" target="_blank">daňovom priznaní typu A</a> (VIII. oddiel), <a href="static/pdf/DPFOBv13.pdf" title="" target="_blank">daňovom priznaní typu B</a> (XIII. oddiel) alebo <a href="static/pdf/DPPOv13.pdf" title="" target="_blank">daňovom priznaní právnických osôb</a> (IV. časť) uvediete ako prijímateľa: <b>ORFEO, združenie koncertných umelcov a pedagógov hudby, o. z., Kľukatá 41, 821 05 Bratislava, IČO: 308 574 06</b>. Termín na poukázanie 2% je totožný s konečným termínom podávania daňových priznaní, t. j. do <b>31.3.2014</b>.</p>
                <p class="lcontainer__text">Zamestnanci, ktorým ročné zúčtovanie preddavkov na daň urobil zamestnávateľ, podávajú <a href="static/pdf/vyhlasenie.doc" title="" target="_blank">vyhlásenie o poukázaní 2% z dane</a>, pričom údaje ohľadom vyplnenia čerpajú z <a href="static/pdf/potvrdenie.doc" title="" target="_blank">potvrdenia o zaplatení dane</a>. Ako prijímateľa vo vyhlásení prosím taktiež uveďte: <b>ORFEO, združenie koncertných umelcov a pedagógov hudby, o. z., Kľukatá 41, 821 05 Bratislava, IČO: 308 574 06</b>. Termín pre zamestnancov na doručenie vyhlásenia aj potvrdenia o zaplatení dane je najneskôr do <b>30.4.2014</b>.</p>
                <p class="lcontainer__text">Ďakujeme,</p>
                <p class="lcontainer__text">Viva Musica! team</p>
            </div>
        </div>
    </div>
</div>