<div class="lcontainer">
    <a class="lcontainer__link" href="#nogo"><img src="static/images/landing.jpg" width="888" height="484" alt="" /></a>
    <div class="lcontainer__popup">
        <div class="lcontainer__holder">
            <a class="btn--close" href="#nogo"><i class="icon--close"></i></a>
            <img src="static/images/popup.jpg" width="520em" alt="" />
        </div>
    </div>
</div>