<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="g__item g-fourfifths contentbox">
        <h2 class="press__heading">Press galéria - vstup</h2>
        <form class="form" method="POST">
            <div class="form__row">
                <label class="form__label">Login</label>
                <input class="input--text" type="text" name="username" />
            </div>
            <div class="form__row">
                <label class="form__label">Heslo</label>
                <input class="input--text" type="password" name="pswd" />
            </div>
            <button class="form__submit" type="submit">Login</button>
        </form>
    </div>
</div>
