<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="g__item g-fourfifths contentbox">
        <h2 class="press__heading">Press galéria - vstup</h2>
        <form class="form" method="POST">
            <input class="input--text" type="text" name="username" />
            <input class="input--text" type="password" name="pswd" />
            <button class="btn--contrast" type="submit">Login</button>
        </form>
    </div>
</div>
