<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="g">
        <a class="g__item" href="" title="">
            <img src="" alt="" />
        </a>
    </div>
</div>
