<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="partners g-fourfifths">
        <section class="partners__box g__item--full">
            <h2>Generálny reklamný partner:</h2>
            <a class="partners__gitem g-mobile-full" href="http://www.slsp.sk" title="">
                <img class="partners__item partners__item--fullwidth" src="/static/images/partners/main/slsp.jpg" alt="" />
            </a>
        </section>
        <section class="partners__box g__item--full">
            <h2>Hlavní reklamní partneri:</h2>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.orange.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/orange.jpg" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.kooperativa.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/koop.jpg" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.seas.sk/sk/uvodna-stranka" title="">
                <img class="partners__item" src="/static/images/partners/main/enel.jpg" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-half" href="" title="">
                <img class="partners__item" src="/static/images/partners/main/eucos.jpg" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-half " href="http://www.psjhydrotranzit.sk" title="">
                <img class="partners__item partners__item--fullwidth" src="/static/images/partners/main/psj.jpg" alt="" />
            </a>
        </section>
        <section class="partners__box g__item--full">
            <h2>Reklamní partneri:</h2>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.patriotreal.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/patriot.jpg" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.hevhetia.com/Hevhetia/" title="">
                <img class="partners__item" src="/static/images/partners/main/hevhetia.jpg" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="" title="">
                <img class="partners__item" src="/static/images/partners/main/sunob.jpg" alt="" />
            </a>
        </section>
        <section class="partners__box g__item--full">
            <h2>Mediálni partneri:</h2>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.rtvs.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/rtvs.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://slovensko.rtvs.sk/" title="">
                <img class="partners__item" src="/static/images/partners/main/radioslovensko.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://fm.rtvs.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/radiofm.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://devin.rtvs.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/radiodevin.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.ta3.com" title="">
                <img class="partners__item" src="/static/images/partners/main/ta3.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.tyzden.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/tyzden.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.zenskyweb.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/star.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.zenskyweb.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/slovenka.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://unimedia.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/unimedia.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://bigmedia.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/bigmedia.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.citylife.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/citylife.jpg"  width="100" alt="" />
            </a>
        </section>
        <section class="partners__box g__item--full">
            <h2>Festival podporili:</h2>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.bratislava.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/bratislava.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.culture.gov.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/mksr.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.bkis.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/bkis.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.bratislava.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/bratislavaars.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://visit.bratislava.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/visit.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.nadaciapontis.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/pontis.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.staremesto.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/bastare.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.cef.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/cef.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.soza.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/soza.jpg"  width="100" alt="" />
            </a>
            <a class="partners__gitem g-mobile-full g-one-third" href="http://www.nocka.sk" title="">
                <img class="partners__item" src="/static/images/partners/main/noc.jpg"  width="100" alt="" />
            </a>
        </section>
    </div>
</div>
