<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="banner">
        <img src="/static/images/team/all.jpg" width="100%" />
    </div>

    <article class="article">
        <header class="article__header">
            <section class="article__intro--full">
                <span class="article__name">{{title1}}</span>
                <span class="article__surname">{{title2}}</span>
                <span class="article__title">{{title}}</span>
            </section>
        </header>
        <p class="article__text">
            {{{text}}}
        </p>
    </article>
</div>
