<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <article class="article--press">
        <header class="article__header--press">
            <section class="article__intro--press">
                <span class="article__date--press">{{date}}</span>
                <p class="article__title--press">{{title}}</p>
            </section>
        </header>
        <p class="article__text">
            {{{text}}}
        </p>
    </article>
</div>
