<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <article class="article--press">
        <header class="article__header--press">
            <section class="article__intro--press">
                <span class="article__date--press">22.04.2014</span>
                <p class="article__title--press">Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca.</p>
            </section>
        </header>
        <p class="article__text">
            Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca. Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca. Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca.<br /><br />Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca. Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca. Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca. Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca. Detský deň v rámci Viva Musica! festivalu na obľúbenom Hlavnom námestí a na Nádvorí Primaciálneho paláca.
        </p>
    </article>
</div>
