<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="press g-fourfifths">
        <div class="press__top">
            <div class="g__item--full g-half box">
                <h2 class="press__heading">Press kontakt</h2>
            </div>
            <div class="g__item--full g-half box">
                <h2 class="press__heading">Press galéria</h2>
                <p>Fotografie v tlačovej kvalite sú prístupné len pre médiá. V prípade otázok píšte na</p>
                <a href="mailto:barbora@vivamusica.sk" title="barbora@vivamusica.sk">barbora@vivamusica.sk</a>
                <a class="press__download" href="">Press galéria na stiahnutie</a>
            </div>
        </div>
        <div class="box">
            <h2 class="press__heading">Tlacove spravy</h2>
            {{#foreach press}}
            <a class="press__link g-full" href="/press/{{path}}">
                <span class="press__date">22.04.2014</span>
                <p class="press__intro">{{title}}</p>
                <span class="press__more" href="/press/{{path}}">Viac ></span>
            </a>
            {{/foreach}}
        </div>
    </div>
</div>
