<div class="main__container">
    <div class="main__sidebar">
        {{>sidebar}}
        {{>sidebarpartners}}
    </div>

    <div class="press g-fourfifths">
        <div class="box">
            <h2 class="press__heading">Press galéria</h2>
            <div class="g">
                <a class="press__imglink g-one-third" href="/private/press/download/citylight_viva_20141.jpg">
                    <img src="/private/press/download/citylight_viva_20141.jpg" width="90%" />
                </a>
                <a class="press__imglink g-one-third" href="/private/press/download/citylight_viva_20142.jpg">
                    <img src="/private/press/download/citylight_viva_20142.jpg" width="90%" />
                </a>
                <a class="press__imglink g-one-third" href="/private/press/download/citylight_viva_20143.jpg">
                    <img src="/private/press/download/citylight_viva_20143.jpg" width="90%" />
                </a>
                <a class="press__imglink g-one-third" href="/private/press/download/citylight_viva_20144.jpg">
                    <img src="/private/press/download/citylight_viva_20144.jpg" width="90%" />
                </a>
                <a class="press__imglink g-one-third" href="/private/press/download/citylight_viva_20145.jpg">
                    <img src="/private/press/download/citylight_viva_20145.jpg" width="90%" />
                </a>
            </div>
        </div>
    </div>
</div>
