{{>sidebar}}

<div class="main__container">
    <article class="article">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">Už</span>
                    <span class="article__title--beta">Už čoskoro!</span>
                </h1>
                <p class="article__introtext">28. jún, 20:00 hod.<br />Bratislavský hrad</p>
            </div><!--
         --><div class="article__item">
                <div class="thumbnail">
                    <img class="article__img" src="/static/images/news/news1.jpg" width="100%" alt="" />
                </div>
            </div>
        </header>
        <div class="g__item">
            <p class="article__text">
            </p>
        </div>
    </article>
</div>
