<div class="top">
    {{>sidebar}}

    <div class="banner">
        <img src="/static/images/program/test.jpg" width="100%" />
    </div>
</div>
<div class="main__container">
    {{>sidebarpartners}}

    <article class="article">
        <header class="article__header">
            <section class="article__intro">
                <span class="article__date">26.</span>
                <span class="article__month">jun</span>
                <span class="article__place">Stara trznica</span>
            </section>
            <section class="article__intro">
                <p class="article__introtext box">Svetoznáme slovenské operné hviezdy po prvýkrát spolu na jednom pódiu!</p>
            </section>
        </header>
        <p class="article__text">
            {{text}}
        </p>
        <a class="btn--buy--contrast" href="{{tickets}}">Kúpiť vstupenku</a>
    </article>
</div>
