<div class="top">
    {{>sidebar}}

    <div class="banner">
        <img src="/static/images/program/test.jpg" width="100%" />
    </div>
</div>
<div class="main__container">
    {{>sidebarpartners}}

    <article class="article">
        <header class="article__header">

        </header>
        <p class="article__text">
            {{text}}
        </p>
        <a class="btn--buy--contrast" href="{{tickets}}">Kúpiť vstupenku</a>
    </article>
</div>
