{{>sidebar}}

<div class="main__container">
    <article class="article">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">Viva</span>
                    <span class="article__title--beta">Petr Hapka</span>
                </h1>
                <p class="article__introtext pull--bottom">Náhlad detailu novinky, po rozkliku
    z homepage. Novinky by mali mať aj vlastnú sekciu formou blogu, z ktorej sa to potom bude tahat na homepage. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla, purus sed ultrices convallis, lectus metus lacinia ante, non eleifend enim magna eget nunc. Curabitur imperdiet eros ligula, quis euismod lectus. vl</p>
            </div><!--
         --><div class="article__item">
                <div class="thumbnail">
                    <img class="article__img" src="/static/images/news/news1.jpg" width="100%" alt="" />
                </div>
            </div>
        </header>
        <div class="g__item">
            <p class="article__text">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
            </p>
        </div>
    </article>
</div>