{{>sidebar}}

<div class="main__container">
    <article class="article">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">Viva</span>
                    <span class="article__title--beta">Opera!</span>
                </h1>
                <p class="article__introtext">28. jún, 20:00 hod.<br />Bratislavský hrad<br /><br />Svetoznáme slovenské operné hviezdy po prvýkrát spolu na jednom pódiu!</p>
            </div><!--
         --><div class="article__item">
                <div class="thumbnail">
                    <img class="article__img" src="/static/images/news/news1.jpg" width="100%" alt="" />
                </div>
            </div>
        </header>
        <div class="g__item">
            <p class="article__text">
                Záverečný koncert 10. ročníka medzinárodného festivalu Viva Musica! bude oslavou opery. Na jednom pódiu sa po prvýkrát spolu stretnú najlepší slovenskí operní sólisti – Adriana Kučerová, Jana Kurucová, Miroslav Dvorský, Dalibor Jenis a Štefan Kocán, ktorí v sprievode Orchestra Viva Musica! pod taktovkou Martina Leginusa, súčasného hudobného riaditeľa a šéfdirigenta pražskej Štátnej opery, uvedú známe i menej známe operné lahôdky z pera takých operných majstrov, akými boli Giuseppe Verdi, Gioacchino Rossini či Giacomo Puccini. Viva opera!
            </p>
            <div class="article__btn">
                <a class="btn--buy--contrast" href="http://www.ticketportal.sk/event.aspx?id=19471">Kúpiť vstupenku</a>
            </div>
        </div>
    </article>
</div>
