{{>sidebar}}

<div class="main__container">
    <article class="article">
        <header class="article__header">
            <div class="article__intro">
                <h1>
                    <span class="article__title--alpha">Vstupenky</span>
                </h1>
            </div><!--
         --><div class="article__item">
                <div class="thumbnail">
                    <img class="article__img" src="/static/images/news/news1.jpg" width="100%" alt="" />
                </div>
            </div>
        </header>
        <div class="g__item">
            <div class="article__btn--top">
                <a class="btn--buy--contrast" href="http://www.ticketportal.sk/event.aspx?id=19471">Kúpiť vstupenku</a>
            </div>
            <p class="article__text">
                21. jún, 20:00 hod., Hlavné námestie<br />
UŽ ČOSKORO! – voľný vstup
<br /><br />
22. jún, 17:00 a 20:00 hod., Hlavné námestie<br />
UŽ ČOSKORO!
<br /><br />
24. jún, 20:00 hod., Stará tržnica<br />
UŽ ČOSKORO!
<br /><br /><br /><br />
25. jún, 20:00 hod., Stará tržnica<br />
UŽ ČOSKORO!
<br /><br />
26. jún, 20:00 hod., Stará tržnica<br />
UŽ ČOSKORO!
<br /><br />
27. jún, 22:00 hod., Stará tržnica<br />
UŽ ČOSKORO!
<br /><br />
28. jún, 20:00 hod., Bratislavský hrad<br />
Viva Opera! <a href="http://www.ticketportal.sk/event.aspx?id=19471">Kúpiť vstupenku</a>
            </p>
        </div>
    </article>
</div>
