/**
 * Article component
 */
.article {
    @extend .g;

    width: 100%;

    @include rwd(997px, false) {
        width: em(996) - $sidebar-w;
    }
}

.article__header {
    position: relative;
    max-height: 22em;
    overflow: hidden;
}

.article__item,
.article__intro {
    @extend .g__item;
    @extend .g-half;
}

.article__intro {
    height: 307px + $box-media-bottom-p;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding: $base-padding 0 0 $base-padding * 2;
}

.article__title--alpha {
    @extend .title--alpha;

    top: 1em;
    left: $base-padding * 1.8;
}

.article__title--beta {
    @extend .title--beta;

    top: 1em + 1.2em;
    left: $base-padding * 2.4;
}

.article__img {
    @extend .box__m--static;

    max-height: 307px;
}

.article__introtext {
    @extend .box;
    @include font-size(18px, false);

    margin: 0;
    align-self: flex-end;
    font-style: italic;
    line-height: 1.2;
}

.article__text {
    @include font-size(16px);

    margin: 0;
    padding: $base-padding * 2;

    @include vendor(column-count, 2);
    @include vendor(column-gap, $base-padding * 4);
}