/**
 * Article component
 *
 * Mobile first. We are going from mobile resolution up using RWD.
 */
.article {
    @extend .g;
    @extend .nullm--left;

    width: 100%;

    @include rwd(997px) {
        width: em(996) - $sidebar-w;
    }
}

.article__header {
    position: relative;
    margin-top: $base-padding * 3;

    @include rwd($tablet-w) {
        margin-top: 0;
    }

    @include rwd(997px) {
        max-height: em(312);
        overflow: hidden;
        margin-top: 0;
    }
}

.article__item,
.article__intro {
    @extend .g__item;

    width: 100%;
    padding-left: 0;

    @include rwd(550px) {
        width: 50%;
    }
}

.article__intro {
    margin-top: $base-padding * 5;

    @include rwd(550px) {
        width: 50%;
        height: 307px + $box-media-bottom-p;
    }

    @include rwd(997px) {
        padding: $base-padding 0 0 $base-padding;
    }
}

.article__title--alpha {
    @extend .title--alpha;

    top: 1em;
    left: $base-padding * .7;
    
    // Larger than mobile
    @include rwd(997px) {
        left: $base-padding * 1.4;
    }
}

.article__title--beta {
    @extend .title--beta;

    top: 1em + 1.2em;
    left: $base-padding * 1.4;

    // Larger than mobile
    @include rwd(997px) {
        left: $base-padding * 2.4;
    }
}

.article__img {
    @extend .box__m--static;
    
    @include rwd($tablet-w) {
        max-height: 312px;
    }
}

.article__introtext {
    @extend .box;
    @include font-size(18px);

    margin: 0;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;

    @include rwd(997px) {
        margin-bottom: -1em;
    }
}

.article__text {
    @include font-size(16px);

    margin-left: -1em;
    padding: em(18);

    // Larger than mobile
    @include rwd(470px) {
        column-count: 2;
        column-gap: $base-padding * 4;
    }

    @include rwd(997px) {
        padding: $base-padding $base-padding * 2;
    }
}