/**
 * BUTTON COMPONENTS
 */

/**
 * Mobile nav button
 */
.btn--nav {
    @extend %btn;
    @extend %main-nav;
    @extend %effect-nav;
    @include font-size(11px);

    position: fixed;
    left: 0;
    top: 0;
    width: 4em;
    height: 4em;
    padding: 1em;
    background-color: $sidebar-bg;

    // When mobile menu is active move
    &.is-active {
        left: $sidebar-w;
        
        // When mobile menu is active we need to transform icon into X shape
        .icon--nav {
            background-color: transparent;

            &:before {
                @include vendor(transform, rotate(45deg));
            }

            &:after {
                @include vendor(transform, rotate(-45deg) translate(.45em, -.45em));
            }
        }
    }
}

/**
 * MAIN LOGO
 */
.btn--brand {
    @extend %btn;

    float: right;
    margin-bottom: $base-mb;
}