/**
 * Right sidebar (content bar)
 */
.contentbar {
    display: none;

    @include rwd(1060px, false) {
        float: right;
        display: inline-block;
        width: $contentbar-w;
        height: 100%;
        background-color: $brand-beta;
    }
}