/**
 * ICONS
 */

/**
 * Icon navigation (mobile)
 */
$icon-nav-line-h: .2em;

/**
 * Hidden class for navigation icon lines.
 */
%icon--nav__line {
    width: 100%;
    height: $icon-nav-line-h;
    background-color: $icon-nav;
}

/**
 * Mobile nav icon
 */
.icon--nav {
    @extend %icon--nav__line;
    @extend %effect-nav;

    display: block;
    margin-top: .29em;
    position: relative;

    &:before,
    &:after {
        content:" ";
        position: absolute;
    }

    &:before {
        @extend %icon--nav__line;

        top: .6em;
    }

    &:after {
        @extend %icon--nav__line;

        top: 1.22em;
    }
}