/**
 * ICONS
 */

/**
 * Icon navigation (mobile)
 */
$icon-nav-line-h: .2em;

/**
 * Hidden class for navigation icon lines.
 */
%icon--nav__line {
    width: 100%;
    height: $icon-nav-line-h;
    background-color: $icon-nav;
}

/**
 * Icon close
 */
$icon-close-line-h: .6em;

%icon--close__line {
    width: 100%;
    height: $icon-close-line-h;
    background-color: $icon-nav;
}

/**
 * Mobile nav icon
 */
.icon--nav {
    @extend %icon--nav__line;
    @extend %effect-trans;

    display: block;
    margin-top: .29em;
    position: relative;

    &:before,
    &:after {
        content:" ";
        position: absolute;
    }

    &:before {
        @extend %icon--nav__line;

        top: .6em;
    }

    &:after {
        @extend %icon--nav__line;

        top: 1.22em;
    }
}

/**
 * Close icon
 */
.icon--close {
    @extend %effect-trans;

    display: block;
    margin-top: .29em;
    position: relative;

    &:before,
    &:after {
        content:" ";
        position: absolute;
        left: 0;
    }

    &:before {
        @extend %icon--close__line;
        @include vendor(transform, rotate(45deg));

        top: .4em;
    }

    &:after {
        @extend %icon--close__line;
        @include vendor(transform, rotate(-45deg) translate(.44em, -.44em));

        top: 1.05em;
    }
}