/**
 * News
 */

.news {
    @extend %cf;
    @extend .uilist--h;

    width: 10000px;
    background-color: $brand-beta;
}

.news__link {
    @extend .thumbnail;

    position: relative;

    img {
        width: $mobile-portrait-w;

        // Bigger than mobile
        @include rwd($mobile-landscape-w, false) {
            width: 100%;
        }
    }

    &:hover {
        img {
            @extend %effect-descale;
        }

        .title--alpha {
            left: $title--alpha--l - 1em;
        }

        .title--beta {
            left: $title--alpha--l - .5em;
        }
    }
}
