/**
 * News
 */

.news {
    @extend %cf;
    @extend .uilist--h;

    width: 10000px;
    background-color: $brand-beta;
}

.news__link {
    @extend .thumbnail;

    position: relative;

    img {
        width: $mobile-portrait-w;

        // Bigger than mobile
        @include rwd($mobile-landscape-w, false) {
            width: 100%;
        }
    }
}