/**
 * SIDEBAR NAVIGATION
 */
.sbnav {
    @extend %notlist;

    float: right;
}

/**
 * Menu link in left sidebar
 *
 * 1. We need to compensate for logo 4px gap on the right side.
 */
.sbnav__link {
    @extend %btn;
    @include font-size(16px);

    display: block;
    padding: .5em $sidebar-logo-hp-fix 0 .5em; /* [1] */
    text-align: right;
    font-style: italic;
    color: $sidebar-links;
}