/**
 * BOX OBJECTS
 */

.box,
%box {
    display: inline-block;
    vertical-align: top;
}

.box {
    padding: $base-padding;
}

/**
 * Special effects for image in box
 */
.box__media {
    @extend %effect-scale;

    &:hover {
        @extend %effect-descale;
    }
}

/**
 * Special settings for content in box
 */
.box__content {
    padding: $base-padding-small;
}