/**
 * BUTTONS
 *
 * PALLETE
 * DIMENSIONS
 * DEFAULT ATOM
 * LIBRARY ATOMS
 */

/**
 * PALLETE
 */
$btn-default-bg: #ccc;
$btn-default-color: #000;

/**
 * DIMENSIONS
 */
$btn-radius: 4px;

/**
 * DEFAULT ATOMS
 */

/**
 * Default ovo.css button style. If you want to create your own
 * buttons copy this atom styles and make your own changes.
 *
 * Extending %btn abstraction.
 */

.btn,
%btn {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 0;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    @extend %btn;

    padding: 0 1em;
    line-height: 3;

    /**
     * Default settings. Specific to default button.
     * If we want to keep .btn as abstraction stuff below should be deleted.
     */
    background-color: $btn-default-bg;
    color: $btn-default-color;
}
