/**
 * LISTS
 *
 * BLOCK LISTS
 */

/**
 * BLOCK LISTS
 */

.uilist,
%uilist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.uilist--h {
    @extend %uilist;

    > li {
        float: left
    }
}

// Equidistant uilist
.uilist--spread {
    @extend %uilist;

    font-size: 0.1px;
    line-height: 0;
    text-align: justify;

    &:after {
        content: '';
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    > li {
        display: inline;
        text-align: center;
        margin: 0;
    }
}

// Centered list
.list--centered {
    @extend %cf;

    position: relative;
    float: left;
    left: 50%;

    > li {
        @extend .list--centered__item;
    }
}

.list--centered__item {
    position: relative;
    float: left;
    right: 50%;
}
