/**
 * Media island
 *
    <div class="mediaisland">
        <img src="" width="" height="" alt="" />
        <p class="box"></p>
    </div>
 */

.mediaisland {
    @extend %inline-block;

    > img {
        float: left;
        width: 50%;
    }

    .mediaisland__content {
        float: left;
        width: 50%;
    }
}
